{% extends 'geekshop_admin/base.html' %}

{% block content %}
    <main>
        <div class="container-fluid">
            {% if form.errors %}
                <div class="alert alert-dismissible fade show alert-warning" role="alert"
                     style="margin-top: 50px;">
                    {{ form.non_field_errors }}
                Ошибки
                </div>
            {% endif %}
            <h1 class="mt-4">Создание категории товаров</h1>
            <form action="{% url 'geekshop-admin:admin-product-category-create' %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.name.id_for_label }}">Название категории</label>
                            {{ form.name }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.description.id_for_label }}">Описание</label>
                            {{ form.description }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-12" style="margin-top: 33px;">
                        <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}