{% extends 'geekshop_admin/base.html' %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Редактирование категории | {{ Category.name }}</h1>
            <div class="card-body">
                <form action="{% url 'geekshop-admin:admin-product-category-update' Category.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.name.id_for_label }}">Название категории</label>
                                {{ form.name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.description.id_for_label }}">Описание</label>
                                {{ form.description }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12" style="margin-top: 33px;">
                            <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-12" style="margin-top: 33px;">
                        <a href="{% url 'geekshop-admin:admin-product-category-delete' Category.id %}"
                           class="btn btn-danger btn-block">
                            Удалить
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}